@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Ubuntu, system-ui, sans-serif;
	}
}

.btn {
	@apply px-3 py-2 whitespace-nowrap rounded-md
}

.btn-gray {
	@apply btn hover:text-gray-600 active:text-gray-400
}

.btn-transparent {
	@apply btn hover:text-yellow-350 active:text-yellow-400
}

.contributor-avatar {
	@apply overflow-hidden flex justify-center border-2 rounded-lg
}

.footer {
	@apply flex items-center justify-between py-7 px-28 text-lg font-semibold bg-black text-white cursor-default
}

.dropdown {
	@apply absolute flex-col mt-2 p-3 font-normal shadow-md rounded-md hidden group-hover:flex
}

.header {
	@apply flex items-center justify-between py-7 px-28 text-lg font-bold cursor-default
}
.line-clamp {
	display: -webkit-box;	
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.line-clamp-1 {
	@apply line-clamp;
	-webkit-line-clamp: 1;
}

.line-clamp-3 {
	@apply line-clamp;
	-webkit-line-clamp: 3;
}

.phase-card-ul {
	@apply list-disc list-inside pl-3 font-semibold leading-loose
}

.underline-custom {
	@apply underline underline-offset-2 decoration-2 text-blue-500
}

.phase-card {
	@apply flex gap-10 py-14 pl-5 bg-blue-75
}

